<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>MyApp</title>
  </head>
  <body>
    {@inner_content}
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </body>
</html>
